apiVersion: v1
kind: ConfigMap
metadata:
  name: django-app-env
  labels:
    environment: dev
    name       : django-app
    instance   : django-app-devman
    part-of    : django-app
    owner      : rs0x069
data:
  DEBUG: "False"
  SECRET_KEY: "strong_key"
  DATABASE_URL: "postgres://USER:PASSWORD@HOST:PORT/NAME"
  ALLOWED_HOSTS: "127.0.0.1,localhost"
